/*
    em HTML id = # em CSS
    em HTML Class = . em CSS
*/

body{
    background-color: rgb(255, 255, 255);
}

h1{
    color:green;
}

h1#principal{ /* nao é necessário o uso de 'h1' podendo reutilizar #principal */
    text-align: center;
    background-color: gold;
}


.basico{
    color:rgb(0, 98, 128);
}

.intermediario{
    color:rgb(119, 128, 0);
}

.intermediario:hover {
    color:rgb(128, 0, 0);
}

.teste > h2{
    display: none;
}

.teste:hover > h2{
    display: block;
}